<% @users.errors.each do |attr, msg|%>
	<%= attr %>
	<%= msg %><br>
<% end %>

<%= form_for (@users) do |user| %>
	<div>
		<strong><%= user.label :name %> </strong><br>
		<%= user.text_field :name, placeholder: "Enter_name", required: true %>
	</div>
	<br>
	<div>
		<strong><%= user.label :email %> </strong><br>
		<%= user.text_field :email, placeholder: "Enter_email", required: true %>
	</div>
	<br>

	<div>
		<strong><%= user.label :password %> </strong><br>
		<%= user.password_field :password, placeholder: "Enter_password", required: true %>
	</div>
	<br>
	
	<div>
		<strong><%= user.submit value="CreateUser"%></strong>
	</div>
	<br>
<% end -%>