<h1>Edit page</h1>

<% @user.errors.each do |attr, msg|%>
<%= attr %>
<%= msg %><br>
<% end %><br>

<%= form_for @user do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<br>

	<div>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<br>

	<div>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<br>

	<div>
		<%= f.submit value="Update.."%>
	</div>
	<br>
<% end -%>