<h1>Edit page</h1>

<% @user.errors.each do |attr, msg|%>
<%= attr %>
<%= msg %><br>
<% end %><br>

<%= form_for @user do |f| %>
	<div>
		<strong><%= f.label :name %> : </strong>
		<%= f.text_field :name %>
	</div>
	<br>

	<div>
		<strong><%= f.label :email %> : </strong>
		<%= f.text_field :email %>
	</div>
	<br>

	<div>
		<strong><%= f.label :password %> : </strong>
		<%= f.password_field :password,placeholder:"Enter_password" %>
	</div>
	<br>

	<div>
		<%= f.submit value="Update.."%>
	</div>
	<br>
<% end -%>