<h1>Show page</h1>

<strong>Name:</strong>
<%= @users.name %><br><br>

<strong>Email:</strong>
<%= @users.email %><br><br>


<% @users.posts.each do |post| %>
<strong>Description:</strong>
<%= post.description %><br><br>
<% end %>

<strong><%= link_to "CreatePost", edit_post_path(@users) %></strong>&nbsp &nbsp
<strong><%= link_to "Edit", edit_user_path(@users) %></strong>&nbsp &nbsp
<strong><%= link_to "Back", users_path %></strong>